## Python Data Types

### Built-in Data Types

- In programming, data type is an important concept.

- Variables can store data of different types, and different types can do different things.

### Python has the following data types built-in by default, in these categories:

```
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
None Type:	NoneType
```

In [1]:
# Scalers 

x = 12       # integer
print(x,type(x))
x = 12.67    # float
print(x,type(x))
x = 12j    # complex
print(x,type(x))
x = 'hi'    # str
print(x,type(x))

x = True    # boolean
print(x,type(x))

x = None    # None
print(x,type(x))

# Collections

players = ['virat','rohit','bumrah'] # list
print(players,type(players))

players = ('virat','rohit','bumrah') # tuple
print(players,type(players))

players = {'virat','rohit','bumrah'} # set
print(players,type(players))

# Mapping

person = {"name":"james", "age":34, "education":"phd"} # dictionary
print(person,type(person))

12 <class 'int'>
12.67 <class 'float'>
12j <class 'complex'>
hi <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
['virat', 'rohit', 'bumrah'] <class 'list'>
('virat', 'rohit', 'bumrah') <class 'tuple'>
{'rohit', 'virat', 'bumrah'} <class 'set'>
{'name': 'james', 'age': 34, 'education': 'phd'} <class 'dict'>

## Python Data Type Conversion

Sometimes, you may need to perform conversions between the built-in data types. To convert data between different Python data types, you simply use the type name as a function.

## Conversion to int

Following is an example to convert number, float and string into integer data type:

In [3]:
x = 12.67
x1 = int(x)
print(x1)

12

## Conversion to float

Following is an example to convert number, float and string into float data type:

In [4]:
x2 = float(x1)
print(x2)

12.0

In [5]:
x3 = complex(x1)
print(x3)

(12+0j)

## Conversion to string

Following is an example to convert number, float and string into string data type:

In [8]:
age = 34
print("His age is "+str(age))

His age is 34

In [11]:
age = "34"
new_age = int(age)+10
print(age)
print(new_age)

34
44

In [12]:
players = {'virat','rohit','bumrah'}
players.add("jadeja")
players

{'bumrah', 'jadeja', 'rohit', 'virat'}

In [13]:
players.remove('bumrah')
players

{'jadeja', 'rohit', 'virat'}

In [14]:
players = frozenset({'jadeja', 'rohit', 'virat'})
players

frozenset({'jadeja', 'rohit', 'virat'})

In [15]:
players.add("bumrah")

AttributeError: 'frozenset' object has no attribute 'add'