In [ ]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_excel("P6-SuperStoreUS-2015.xlsx",index_col=0)

In [ ]:
ax = sns.countplot(x='Product Sub-Category',data=df)
sns.set(rc={'figure.figsize':(18,15)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
ax = sns.countplot(data = df,x='Region',hue='City')
sns.set(rc={'figure.figsize':(15,10)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df = df.groupby(['Region'],as_index=False)['Sales'].sum().sort_values(by='Sales',acending=False).head(10)
sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data = df,x='Region',y='Sales')

In [ ]:
import pandas as pd

In [ ]:
Dict1 = {"name":'anil',"age":34,"address":'delhi'}
se = pd.Series(Dict1)
se

In [ ]:
s3 = pd.Series(Dict1.keys)
s3

In [ ]:
d = pd.DataFrame({'Name':['abc',]})

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("car_insurance_claim (1).csv")
df

In [ ]:
df.head()

In [ ]:
df['AGE'].valuecount()

In [ ]:
li = list(range(2,21,2))
li

In [ ]:
import pandas as pd

In [ ]:
series1 = pd.Series(li)
print(series1)
print(type(series1))

In [ ]:
import numpy as np
arr2 = np.array([[34,56,78],[89,76,34]])
series2 = pd.Series(arr2.flatten())
series2

In [ ]:
series2[1]

In [ ]:
series2[[0,3,5]]

In [ ]:
arry4 = np.array([[23,43,54,65],[43,58,56,69]])
arry4
series3 = pd.Series(arry4.flatten(), index=['one','two','three','four','five','six','seven','eight'])
series3

In [ ]:
series44 = pd.Series(['Mango','Banan','Orange','Papaya','Grapes'],
                    index=['mon','tue','wed','thus','frid'],
                    name='Fruit')
series44

In [ ]:
d = pd.DataFrame({'name':['mohan','manish','harshit'],'age':[23,34,54],'sex':['m','m','f']})
d

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("car_insurance_claim (1).csv")
df

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.fillna(inplace=True)

In [ ]:
de = df.to_excel('df.xlsx',sheet_name='ppp',index=False)
de=pd.read_excel('df.xlsx')
de

sortdata

In [ ]:
import pandas as pd

In [ ]:
data = pd.DataFrame({'id':[1,2,3,4,5,6,7,8],'name':['a','b','c','d','e','f','g','h']})

In [ ]:
data

In [ ]:
data.sort_values(by=['id'])

In [ ]:
first1 = pd.DataFrame({'Rollno':[1,2,3,4,5,6,7,8,9],'math':['a','b','c','d','e','f','g','h','i']})

In [ ]:
second1 = pd.DataFrame({'Rollno':[1,2,3,4,5,6,7,8,9],'science':['a','b','c','d','e','f','g','h','i']})

In [ ]:
#inner join
left_join=pd.merge(first1,second1,on='Rollno',how='outer')
left_join

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'brand':['McD','McD','Doninos','Doninos','Doninos'],'food':['B','B','P','P','P'],'rating':['4','4','3','5','2']})
df

In [ ]:
# drop Duplicates
df.drop_duplicates()

In [ ]:
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]
list3= list1+list2
list3

In [ ]:
import numpy as np

In [ ]:
a1=np.array(list1)
a2=np.array(list2)
a3=a1+a2
a3

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
sns.displot(pd.DataFrame(arr_ex.reshape(16,1)))

In [ ]:
total=[]
for (i,j) in zip(list1,list2):
    total.append(i+j)
print(total)

In [ ]:
my_list=[1,2,3,4,5]

In [ ]:
arr=np.array(my_list)
print(arr)

In [ ]:
arr.shape

In [ ]:
%%time
total=[]
for (i,j) in zip(list1,list2):
    total.append(i+j)
print(total)

In [ ]:
import numpy as np

In [ ]:
lst=[1,2,3,4]
arr=np.array(lst)

In [ ]:
lst

np.repeat(arr,3)

In [ ]:
np.eye(3)

In [ ]:
np.diag([1,2,3,4,5])

In [ ]:
arr=np.random.rand(10)
arr

In [ ]:
arr.shape

In [ ]:
labels = 'python','c++','java','oreal'
size = [215,130,245,210]
colors = ['gold','yellowgreen','blue','orange']
explode = (0.2,0,0,0)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.pie(size,explode=explode,labels=labels,colors=colors,autopct='%1.1f%%')
plt.axis('equal')

In [ ]:
tuple1 = ()
print(tuple1)

In [ ]:
tuple2 = ('sister','brother')
tuple2

In [ ]:
family_mamber = ('brother','sister ')
print(family_mamber)

In [ ]:
print(len(family_mamber ))

In [ ]:
family_mamber = ('brother','sister ')
family_mamber1 = ('father','mother')
update_tuple = family_mamber+family_mamber1
print(update_tuple)

In [ ]:
family_mamber = ('brother','sister ')
family_mamber.add(family_mamber1)
print(family_mamber)

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))

if num1>num2 and num1>num3:
    print(f'{num1} is greater')
elif num2>num1 and num2>num3:
    print(f'{num2} is greater')
else:
    print(f'{num3} is greater')

In [ ]:
num = 45

if num<0:
    print("-Ve")
elif num>0:
    print()

In [ ]:
num = 43

if num>=0:
    if num==0:
        print("Zero")
    else:
        print("Possitive")
else:
    print("negetive")

In [ ]:
num1 = int(input("Enter the number:"))
num2 = int(input("Enter the number:"))
num3 = int(input("Enter the number:"))

if num1>num2 and num1>num3:
    print(f'{num1} is graterthan')
elif num2>num1 and num2>num3:
    print(f'{num2} is graterthan')
else:
    print(f'{num3} is graterthan')

In [ ]:
num1,num2,num3 = 1,2,3

if num1>=num2:
    if num1>=num2:
        print(num1)
elif num2>=num1:
    if num2>=num3:
        print(num2)
    else:
        print(num3)
else:
    Pass

In [13]:
year = int(input("Enter the leapyear>>>"))

if (year % 4==0 and year % 100!=0 or year % 400==0):
    print("this is leap year:")
else:
    print("This is not leap year:")

Enter the leapyear>>>2024
this is leap year:

In [16]:
month = int(input("Enter the month>>>"))

if month=='jan'or month=='mar' or month=='may'or month='july'or month=='aug'or month=='oct'or month=='dec':
    print("31 days")
elif month=='feb':
    print('28 days')
else:
    print("30 days")

SyntaxError: invalid syntax (1813060671.py, line 3)

In [17]:
month = int(input("Enter the month>>>>"))

if month=="January" or month=="March" or month=="May" or month=="July" or month=="August" or month=="October" or month=="December":
    print("31 days")
elif month=='Feb':
    print("28 days")
else:
    print("30 days")

Enter the month>>>>January

ValueError: invalid literal for int() with base 10: 'January'

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [43]:
 df = pd.read_excel("Data_Train (1).xlsx")

In [45]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [46]:
df['Date_of_Journey']

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [47]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [50]:
df['Date']=df['Date'].astype(int)
df['Month']=df['Date'].astype(int)
df['Year']=df['Year'].astype(int)
df.drop('Date_of_Journey',axis=1,inplace=True)

In [51]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,24,2019

In [52]:
df['Arrival_Time']

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [70]:
df['Arrival_min']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[1]

In [71]:
df['Arrival_min']=df['Arrival_min'].str.split(' ').str[0]
df['Arrival_min']

0        01
1        13
2        04
3        23
4        21
         ..
10678    22
10679    23
10680    11
10681    14
10682    19
Name: Arrival_min, Length: 10683, dtype: object

In [72]:
df['Arrival_hour']=df['Arrival_hour'].str.split(' ').str[1]
df['Arrival_hour']

0         22
1        NaN
2         10
3        NaN
4        NaN
        ...
10678    NaN
10679    NaN
10680    NaN
10681    NaN
10682    NaN
Name: Arrival_hour, Length: 10683, dtype: object

In [73]:
df['Arrival_min']=df['Arrival_min'].astype(int)
df['Arrival_hour']=df['Arrival_hour'].astype(int)

ValueError: cannot convert float NaN to integer

In [74]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_min,Arrival_hour
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,24,2019,1,22

In [75]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [76]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_min,Arrival_hour
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,24,2019,1,22

In [77]:
df['Dep_Time']

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10683, dtype: object